$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$min-vp: 20px;
$max-vp: 1200px;
$min-font-size: 5px;
$max-font-size: 45px;

$card-index: container, flipper, back, front;
$card-colors: #212121, #2196F3, #F5F5F5;
$shadow-colors: #263238, #424242;
$background-colors: #FFC107, rgba(245, 124, 0, 0.5);

@function strip-unit($value) {
    @if type-of($value) == "number" and not unitless($value) {
        @return $value / ($value * 0 + 1);
    }

    @return $value;
}

@mixin fluid-font-size($min-vp, $max-vp, $min-font-size, $max-font-size) {
    $u1: unit($min-vp);
    $u2: unit($max-vp);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        font-size: $min-font-size;
        @media (min-width: $min-vp) {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((80vw - #{$min-vp}) / #{strip-unit($max-vp - $min-vp)}));
        }
        @media (min-width: $max-vp) {
            font-size: $max-font-size;
        }

        @media only screen and (orientation: landscape) {
            @media (min-height: $min-vp) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((80vh - #{$min-vp}) / #{strip-unit($max-vp - $min-vp)}));
            }
            @media (min-height: $max-vp) {
                font-size: $max-font-size;
            }
        }
    }
}

@mixin setup-ratio($width, $height-max, $width-ratio, $height-ratio) {
    width: $width;
    height: calc(#{$height-ratio} / #{$width-ratio} * #{$width});
    max-width: calc(#{$width-ratio} / #{$height-ratio} * #{$height-max});
    max-height: $height-max;

    @media only screen and (orientation: landscape) {
        height: calc(#{$width-ratio} / #{$height-ratio} * #{$width});
        max-width: calc(#{$height-ratio} / #{$width-ratio} * #{$height-max});
    }
}

@import "./portrait.scss";
@import "./landscape.scss";

html {
    @include fluid-font-size($min-vp, $max-vp, $min-font-size, $max-font-size);
    font-family: monospace;
    font-family: Courier New, Courier;
    font-family: "Roboto Mono", Courier New, Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: nth($background-colors, 1);
    background-image: linear-gradient(180deg, transparent 50%, nth($background-colors, 2) 50%), linear-gradient(90deg, transparent 50%, nth($background-colors, 2) 50%);
    background-size: 3rem 3rem;
}

#container {
    @include setup-ratio(80vw, 80vh, 53.98, 85.6);

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: pointer;

    perspective: 50rem;

    &.flipped > #flipper {
        transform: rotateY(180deg);
    }
}

#flipper {
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: transform 0.6s;
}

#card-front, #card-back {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    backface-visibility: hidden;

    background-color: nth($card-colors, 1);
    box-shadow: 0 0.5rem 1rem nth($shadow-colors, 1);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 1rem 2rem nth($shadow-colors, 1);
    }
    
    display: grid;
}

#card-front {
    z-index: index($card-index, front);
    transform: rotateY(0deg);
}

#card-back {
    z-index: index($card-index, back);
    transform: rotateY(180deg);
}

#avatar {
    grid-area: avt;

    > svg {
        width: 100%;
        height: 100%;
    }
}

#introduction {
    grid-area: int;
    color: nth($card-colors, 3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > #name {
        font-size: 1.25rem;
        font-weight: 800;
        text-transform: uppercase;
    }

    > #title {
        font-weight: 500;
    }
}

#contact {
    grid-area: con;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#skills {
    grid-area: skl;
    position: relative;

    > #core, > #core-pulse {
        border: 0.2rem solid nth($card-colors, 2);
        border-radius: 50%;
        
        position: absolute;
    }

    > #core {
        transition: transform 1s 1s ease-in-out;
    }
    
    > #core-pulse {
        z-index: -1;
        animation: pulsate 1s ease-in-out infinite;

        transition: visibility 0s 2s;
    }

    > [id^=item] {
        opacity: 0;
        z-index: -2;

        position: absolute;
        top: 50%;
        left: 50%;

        transition: all 1s ease-in-out;
        transition-property: opacity, transform;
    }    

    > #core.clicked {
        transition: transform 1s ease-in-out;

        + #core-pulse {
            visibility: hidden;
            animation: restart-animation 0s;

            transition: visibility 0s;

            + #item1 {
                opacity: 1;
                transition: all 1s 1s ease-in-out;
                transition-property: opacity, transform;

                + #item2 {
                    opacity: 1;
                    transition: all 1s 1s ease-in-out;
                    transition-property: opacity, transform;

                    + #item3 {
                        opacity: 1;
                        transition: all 1s 1s ease-in-out;
                        transition-property: opacity, transform;
                    }
                }
            }
        }
    }
}

#skills-more {
    grid-area: skm;

    margin: 0 0.7rem;
    color: nth($card-colors, 3);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    > .skills-more-item {
        margin: 0 0.3rem;
    }
}

#portfolio-title {
    grid-area: ptl;

    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    color: nth($card-colors, 3);
    border-top: 0.5rem solid nth($card-colors, 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio {
    grid-area: prt;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .portfolio-item {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        > img {
            width: auto;
            height: 100%;

            margin: 0 0.5rem;
            border: 0.2rem solid nth($card-colors, 2);
            border-radius: 50%;

            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.5);
            }
        }

        > div.project-details {
            font-size: 0.8rem;
            color: nth($card-colors, 3);

            > .title {
                text-transform: uppercase;
                font-weight: 800;
            }

            > .tech > i {
                margin-right: 0.3rem;

                // &:first-child {
                //     margin-left: 0;
                // }
            }

            > .links > a {
                color: nth($card-colors, 3);
            }
        }

        &:nth-child(even) {
            align-self: flex-end;

            > div.project-details {
                text-align: right;
            }
        }
    }
}

#portfolio-more {
    grid-area: pmo;

    margin-right: 0.5rem;
    text-align: right;

    > a {
        text-decoration: none;
        color: nth($card-colors, 3);
    }
}

.social {
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;

    text-align: center;
    color: nth($card-colors, 3);

    border: 0.25rem solid nth($card-colors, 2);
    border-radius: 50%;

    &:hover {
        animation: blue-glow 2s ease-in-out infinite;
    }

    > i {
        font-size: 1.5rem;
        padding-top: 0.75rem;
    }
}

#copyright {
    font-weight: 500;
    white-space: nowrap;

    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    color: black;
}

.tooltip {
    position: relative;

    &::before, &::after {
        position: absolute;
        top: 5%;
        left: calc(50% - 0.5rem);
    }

    &::before {
        content: "";
        border-width: 0.6rem 0.5rem 0 0.5rem;
        border-style: solid;
        border-color: #E57373 transparent transparent transparent;
    }

    &::after {
        content: attr(data-tooltip);

        font-size: 0.8rem;
        padding: 0.2rem 0.3rem;
        border-radius: 0.2rem;

        background-color: #E57373;
        color: nth($card-colors, 3);

        transform: translate(-10%, -95%);
    }
}

@media only screen and (orientation: portrait) {
    @include card-pt();
    @include card-front-pt();
    @include card-back-pt();
    @include intro-pt();
    @include skills-pt();
    @include port-pt();
}

@media only screen and (orientation: landscape) {
    @include card-ls();
    @include card-front-ls();
    @include card-back-ls();
    @include intro-ls();
    @include port-ls();
    @include skills-ls();
    @include line-ls();
}

@keyframes blue-glow {
    0% { border-color: nth($card-colors, 2); box-shadow: none; }
    50% { border-color: nth($card-colors, 3); box-shadow: 0 0 1rem 0.25rem nth($card-colors, 2), inset 0 0 1rem 0.25rem nth($card-colors, 2); }
    100% { border-color: nth($card-colors, 2); box-shadow: none; }
}

@keyframes pulsate {
    from { transform: scale(1, 1); opacity: 1; }
    to { transform: scale(1.5, 1.5); opacity: 0.0; }
}

@keyframes restart-animation {};

// second child, portfolio, text align right not align (portrait, 300px)